pandas 
notebook
numpy
scikit-learn
matplotlib
imblearn
python-box==6.0.2
pyYAML
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors
from_root
pymongo
dnspython
dill
neuro_mf
evidently==0.2.8
boto3
mypy_boto3_s3
botocore

-e .